.filters {
  position: relative;
  height: 0;

  .filtersWrapper {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    height: auto;
    margin-right: 80px;
    background: linear-gradient(180deg, rgba(249,249,249,1) 0%, rgba(252,252,252,0.47102591036414565) 50%, rgba(255,255,255,0) 100%);
    transform: translateY(0);
    transition: transform 0.25s ease-in;

    &.closed{
      transform: translateY(calc(-100% - 40px));
    }

    .toggleWrapper {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      margin: 20px;

      .toggleLabel {
        text-align: center;
        font-size: 14px;
        color: black;
        margin-top: 0;
        margin-bottom: 10px;
      }
    }
  }

  .filterIcon {
    position: absolute;
    top: 20px;
    right: 40px;
    cursor: pointer;
  }
}