.sideBar {
    position: relative;
    max-width: 0;
    transition: max-width .5s ease-in-out;

    .menuIconWrapper {
        position: absolute;
        top: 20px;
        left: 50px;
        z-index: 2;
    }

    .sidebarContent {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: rgb(0, 130, 186);
        background-image: radial-gradient(circle at -5% 105%, rgb(0, 181, 177) 0%, rgb(0, 130, 186) 32%, rgb(0, 81, 149) 80%);;
        padding: 40px 20px 20px;
        width: 300px;
        min-height: 100%;
        transform: translateX(-100%);
        transition: transform .5s ease-in-out;

        @media screen and (max-width: 767px) {
                width: calc(100vw - 40px);
                position: absolute;
                z-index: 1;
        }

        & > .button {
            margin: 20px 0;
            color: white;

            &:hover {
                color: rgba(255, 255, 255, .5);
            }

            &.chosen {
                color: black;
                border-color: transparent;
                background-color: white;
            }
        }
    }

    &.open {
        max-width: 340px;
        .sidebarContent {
            transform: translateX(0);
        }
    }
}